<% provide(:title, 'Experiential Learning') %>

<div class="container">
	<div class="center hero-unit">
	  <h1>Welcome to Xlearn</h1>

	  <h2>
	    Some knowledge can't be acquired in a classroom. They get passed down.
	  </h2>

	  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% if user_signed_in? %>
	<%= link_to "Profile", current_user %>
	<%= current_user.lastname %>
	<%= current_user.firstname %>
<% end %>
</div>